@{
    ViewBag.Title = "About Harrison Whetstone";
}
<h2>@ViewBag.Title.</h2>

<p>Hello, my name is Harrison Whetstone. I am a senior at Ohio University, currently finishing off my last semester in Athens. Post graduation I will be working for DHL Supply Chain as an Implementation Analyst. Throughout the duration of this class, I intend on learning about insightful information about project management and website development.</p>
