@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Harrison Whetstone<br />
    33 West Washington St, Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    614.551.0067
</address>

<address>
    <strong>School Email:</strong> <a href="mailto:hw075215@ohio.edu">hw075215@ohio.edu</a>
</address>