@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Harrison Whetstone</h1>
    <p class="lead">Hello, this page is an index of information about myself. Click the button below to view my LinkedIn</p>
    <p><a href="https://www.linkedin.com/in/harrisonwhetstone/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Undergraduate Education</h2>
        <p>
            I have been at Ohio University since 2016. I will be graduating in May 2020, my major is Management Information Systems and I will also be graduating with a minor in Business Analytics. I have truely enjoyed my time in this program.
        </p>
        <p><a class="btn btn-default" href="https://business.ohio.edu/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Future Career Outlook</h2>
        <p>Following my graduation in May, I will be taking a full-time position with DHL Supply Chain at their North American Headquarters, located in Westerville,OH. My role with this company is known as an Implementation Analyst.</p>
        <p><a class="btn btn-default" href="https://www.logistics.dhl/us-en/home/press/press-archive/2018/dhl-supply-chain-breaks-ground-on-new-north-american-corporate-headquarters.html">Learn more &raquo;</a></p>
        <h3>Database Example</h3>
        @Html.ActionLink("Students", "Index", "Students") <br />
        @Html.ActionLink("Courses", "Index", "Courses")<br />
        @Html.ActionLink("courseDetails", "Index", "courseDetails") <br />
        @Html.ActionLink("Instructors", "Index", "Instructors") <br />

    </div>
    <div class="col-md-4">
        <h2>Hobbies and More</h2>
        <p>Outside of work and school, I enjoy the outdoors, fishing and walking with my dog. Most of the fishing I do is in Ohio and Lake Erie is where I fish most often.</p>
        <p><a class="btn btn-default" href="http://wildlife.ohiodnr.gov/fishing/fishing-lake-erie">Learn more &raquo;</a></p>
    </div>
</div>